.btn {
  outline: none;
  box-shadow: none;
  border-width: 2px;
  border-radius: 3px;
  border-style: solid;
  padding: 8px;
}

.addButton {
  color: rgb(8,8,8);
  border-color: rgb(8,8,8);
  background-color: transparent;
}

.addButton:hover {
  cursor: pointer;
}

input {
  width: 80%;
  border: none;
  border: 2px solid rgb(8,8,8);
  margin-right: 10px;
  padding: 5px;
  line-height: 19px;
}

input:focus {
  outline: none;
  border: none;
  border: 2px solid rgb(8,8,8);
}
